* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;

}


.header {
  padding: 15px;
  width: 50%;
  text-align: center;
  margin: auto;
}


.nav-item {
  color: #FFF;
  padding-left: 5px;
  padding-left: 5px;
}

#home {
  grid-column: 2 / 3;
}

#about-me {
  grid-column: 3 / 4;
}

#dev-academy {
  grid-column: 4 / 5;
}

#contact-me {
  grid-column: 5 / 6;
}

.menu {
  display: grid;
  width: 100%;
  padding: 15px;
  grid-template-columns: 6fr 1.5fr 1.5fr 1.5fr 1.5fr;
  text-align: center;
  background-color: #C1D8E0;
}
.menu a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}
@media screen and (min-width: 320px) {
  .menu {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .menu {
    font-size: 22px;
  }
}
.menu a:hover {
  color: #9A9FA3;
}
.main {

  float: center;
  padding: 15px;
  text-align: center;
  background-color: #C1D8E0;
}

p {
  font-size: 20px;
  color: #FFF;
}
@media screen and (min-width: 320px) {
  p {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 20px;
  }
}

.text-explain {
  color: #9A9FA3;
}

.selector {
  display: grid;
  margin: 50px;
  text-align: center;
  grid-template-columns: 1fr 2fr 1fr;
}

.selector a {
  text-decoration: none;
  color: #9A9FA3;
  font-size: 24px;
  grid-column: 2 / 3;
}

.selector a:hover {
  color: #A7C2CD;
}

.selector p {
  color: #A7C2CD;
  grid-column: 2 / 3;
}

.main a {
  text-decoration: none;
  color: #9A9FA3;
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .main a {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .main a {
    font-size: 18px;
  }
}

h1 {
  color: #FFF;
  padding-bottom: 30px;
}
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  color: #797687;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  color: #9A9FA3;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  h3 {
    font-size: 22px;
  }
}

.h2-left {
  text-align: left;
}

.p-left {
  text-align: left
}

.span-a {
  display: inline;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid white;
  background-color: #2AD2C9;
}

.span-b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid white;
  background-color: #2AD2C9;
}

.span-c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid white;
  background-color: #2AD2C9;
}
