* {
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
  width: 50%;
  text-align: center;
  margin: auto;

}
.home-link {
  text-align: center;
  font-size: 1.5em;
  margin: auto;
}
.menu {
  width: 100%;
  float: center;
  padding: 15px;
  border: 1px solid red;
  margin: auto;
  text-align: center;
  display: inline-block
}
.main {
  width: 100%;
  float: center;
  padding: 15px;
  border: 1px solid red;
  text-align: center;
}
p {
  font-size: 15px;
}



.text-explain {
  color: blue;
}

.span-a {
  display: inline; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

.span-b {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
.h2-left {
  text-align: left;
}

.p-left {
  text-align: left
}
.span-c {
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
